@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jura";
  src: url('/fonts/Jura-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@keyframes slide-seamless {
  0% {
    transform: translateX(0) translateY(-50%);
  }
  100% {
    transform: translateX(-1798px) translateY(-50%);
  }
}

.animate-slide-seamless {
  animation: slide-seamless 15s linear infinite;
  display: flex;
  align-items: center;
  position: absolute;
}

@media (max-width: 1420px) and (min-width: 1024px) {
  #how-to-buy {
    min-height: 120vh !important;
  }
}

@keyframes jiggle {
  0%, 100% {
    transform: translateX(0) rotate(0deg);
  }
  25% {
    transform: translateX(-2px) rotate(-2deg);
  }
  75% {
    transform: translateX(2px) rotate(2deg);
  }
}

.animate-jiggle {
  animation: jiggle 0.8s ease-in-out infinite;
}